.toggle {
  color: lightcoral;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.content {
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: height 1s ease-in-out;
}

.content.open {
  background: lightgrey;
  /* display: block; */
  opacity: 1;
  height: 100%;
  transition: height 1s ease-in-out;
}
