.App {
  text-align: center;
  padding: 20px;
}

.chartWrapper {
  /* height: 1200px; */
  width: 1000px;
}

.barCharts {
  /* width: 100vw; */
}

.VictoryContainer {
  /* border: 3px solid red; */
}

.menuItem:hover {
  background-color: aquamarine;
}
